<div class="col-md-3 col-sm-3 placeholders">
  <div class="card" style="width: 15rem;">
    <%= image_tag topic.image, class: "card-img-top", width: '100%' unless topic.image.nil?  %>
      <div class="card-block">
      <%= link_to topic.title, topic_path(topic), class: "btn btn-primary" %>
      <p><%= link_to 'Edit', edit_topic_path(topic) %> |
         <%= link_to 'Delete', topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
  </div>
</div>
  


