<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
  <div class="content-top">
    <h1>Library</h1>
    <%= link_to "Create New Topic", new_topic_path, class: "btn btn-primary" %>
  </div>

  <section class="row">
  
    <%= render @topics %>

  </section>
</main>
