<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    
  <h1><%= @topic.title %></h1>
  
  <section class= "row">
    
    <%#= paginate @blogs %>
    
    <%= render @categories %>
    
    <%#= paginate @blogs %>
  
  </section>
</main>
