<h1 class="cover-heading">About Me.</h1>

<hr>

<div class="row">
  <div class="col-md-4">
   <%= image_tag "about.jpg", width: 300, alt: "about image" %>
  </div>
  <div class="col-md-8">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum finibus nisi,
   eu mollis metus. Donec iaculis ipsum vel erat vestibulum suscipit. Proin aliquam mauris quis placerat pharetra. 
   Proin tortor sapien, tristique eget fermentum id, venenatis sed nisl. Donec ut dolor tempor, lacinia magna et, 
   euismod est. Ut at placerat nulla. Fusce sed urna sit amet dolor auctor molestie. Proin et fermentum nisl.</p> 
  </div>
</div>
   
